.vis {
	height: 1500px;
}
.vis2 {
	height: 100px;
}
.vis3 {
	height: 50px;
}
.vis3-2 {
	height: 70px;
}
.vis4 {
	height: 500px;
}
.vis7 {
	height: 700px;
}
.shir {
	width:50px
}
.img {
	background-size: 100% 100%;
}